# ===================== #
#  Python
# ===================== #
__pycache__/
*.py[cod]
*.so
*.egg
*.egg-info/
dist/
build/
.eggs/
*.manifest
*.spec

# ===================== #
#  Django
# ===================== #
*.log
*.pot
*.pyc
db.sqlite3
media/
staticfiles/
*.db
local_settings.py

# Migrations compilées
*/migrations/__pycache__/
*/migrations/*.py[cod]

# ===================== #
#  Environnements
# ===================== #
.env
*.env
venv/
arcep_venv/
env/
.venv/
ENV/
env.bak/
venv.bak/

# ===================== #
#  IDE / Editeurs
# ===================== #
.vscode/
.idea/
*.sublime-project
*.sublime-workspace

# ===================== #
#  OS files
# ===================== #
.DS_Store
Thumbs.db
ehthumbs.db
Desktop.ini

# ===================== #
#  Tests / Coverage
# ===================== #
.coverage
*.cover
*.py,cover
coverage.xml
htmlcov/
.tox/
.nox/
.pytest_cache/
.cache/
