asgiref==3.9.2
autocommand==2.2.2
backports.tarfile==1.2.0
Django==5.2.6
gunicorn==23.0.0
importlib_metadata==8.0.0
importlib_resources==6.4.0
jaraco.collections==5.1.0
jaraco.context==6.0.1
jaraco.functools==4.3.0
jaraco.text==4.0.0
more-itertools==10.8.0
numpy==2.3.3
openpyxl==3.1.5
packaging==25.0
pandas==2.2.3
pillow==10.4.0
psycopg2-binary==2.9.10
PyPDF2==3.0.1
python-dateutil==2.9.0.post0
python-decouple==3.8
python-dotenv==1.0.1
pytz==2025.2
six==1.17.0
sqlparse==0.5.3
str2bool==1.1
tomli==2.0.1
tzdata==2025.2
Unipath==1.1
whitenoise==6.7.0
zipp==3.23.0
