{% extends 'layouts/base.html' %}

{% block title %}
  Mise à jour d'un emplacement
{% endblock %}

{% block content %}
  <div class="container-fluid">
    <div class="row justify-content-center">
      <div class="col-md-6">
        <div class="card">
          <div class="card-header d-flex">
            <h3 class="card-title">Mise à jour d'un emplacement</h3>
          </div>
          {% if messages %}
            <div class="alert-messages">
              {% for message in messages %}
                <div class="alert {% if message.tags %}
                    alert-{{ message.tags }}
                  {% endif %}">{{ message }}</div>
              {% endfor %}
            </div>
          {% endif %}
          <div class="card-body">
            <form method="post">
              {% csrf_token %}
              <div class="form-group">
                <label for="id_type_emplacement">Nom de l'emplacement</label>
                <input type="text" class="form-control" id="id_type_emplacement" name="type_emplacement" value="{{ emplacement.type_emplacement }}" required />
              </div>
              <a href="{% url 'home:site_create' %}" class="btn btn-secondary">Annuler</a>
              <button type="submit" class="btn btn-primary">Mettre à jour</button>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
{% endblock %}
