
{% extends 'layouts/base.html' %}

{% block title %} Cartographie des Sites {% endblock title %}

{% block stylesheets %}
<link rel="stylesheet" href="https://unpkg.com/leaflet@1.7.1/dist/leaflet.css" />
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/leaflet.fullscreen@1.6.0/Control.FullScreen.css" />
<link rel="stylesheet" href="https://unpkg.com/leaflet.markercluster/dist/MarkerCluster.css" />
<link rel="stylesheet" href="https://unpkg.com/leaflet.markercluster/dist/MarkerCluster.Default.css" />
{% comment %} <link rel="stylesheet" href="/static/assets/css/leaflet.css" /> {% endcomment %}
{% comment %} <link rel="stylesheet" href="/static/assets/css/FullScreen.css" /> {% endcomment %}
<style>
    .map-canvas {
        height: 100vh;
        width: 100%;
    }
    .custom-marker {
    display: flex;
    align-items: center;
    justify-content: center;
    }
    .sidebar {
    transition: right 0.3s ease-in-out;
 }
</style>
{% endblock %}

{% block content %}
<div class="header bg-primary pb-6">
    <div class="container-fluid">
        <div class="header-body">
            <div class="row align-items-center py-3">
                <div class="col-lg-6 col-7">
                    <nav aria-label="breadcrumb" class="d-none d-md-inline-block ml-md-4">
                        <ol class="breadcrumb breadcrumb-links breadcrumb-dark">
                            <li class="breadcrumb-item"><a href="#"><i class="fas fa-home"></i></a></li>
                            <li class="breadcrumb-item"><a href="#">Cartographie</a></li>
                        </ol>
                    </nav>
                </div>
                <div class="col-lg-6 col-5 text-right">
                    <!-- Toggler button for filter sidebar -->
                    <button id="filterToggle" class="btn btn-sm btn-neutral"><i class="fas fa-filter"></i> Filtres</button>
                </div>
            </div>
        </div>
    </div>
</div>


<!-- Full-height Sidebar for Filters -->
<div id="filterSidebar" class="sidebar bg-primary text-white border-right" style="width: 300px; height: 100vh; position: fixed; top: 0px; right: -300px; overflow-y: auto; transition: 0.3s; z-index: 1000;">
    <!-- Close "X" Button -->
    <button id="closeSidebar" class="close-btn text-white" style="position: absolute; top: 10px; right: 10px; background: none; border: none; font-size: 20px;">&times;</button>
    <div class="p-4">
        <h5 class="text-white" >Filtrer les sites</h5>
        
        <form id="filterForm">
            <!-- Bouton de réinitialisation des filtres -->
            <button type="button" id="resetFilters" class="btn btn-secondary mt-3">Réinitialiser</button>
            
            <div class="form-group">
                <label for="departement">Département</label>
                <select id="departement" name="departement" class="form-control" multiple>
                    <option value="">Tous</option>
                    {% for departement in departements %}
                    <option value="{{ departement.id }}">{{ departement.nom }}</option>
                    {% endfor %}
                </select>
            </div>


            
            <div class="form-group ">
                <label for="commune">Commune</label>
                <select id="commune" name="commune" class="form-control" multiple>
                    <option value="">Toutes</option>
                    {% for commune in communes %}
                    <option value="{{ commune.id }}">{{ commune.nom }}</option>
                    {% endfor %}
                </select>
            </div>

            <div class="form-group">
                <label for="operateur">Opérateur</label>
                <select id="operateur" name="operateur" class="form-control" multiple>
                    <option value="">Tous</option>
                    {% for operateur in operateurs %}
                    <option value="{{ operateur.id }}">{{ operateur.nom }}</option>
                    {% endfor %}
                </select>
            </div>

            <!-- Filtre Conformité -->
            
            <div class="form-group mt-4">
                <label class="mb-2">Conformité</label>
                <div id="conformiteContainer">
                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" id="conforme" name="conformite" value="conforme">
                        <label class="form-check-label" for="conforme">Conforme</label>
                    </div>
                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" id="nonConforme" name="conformite" value="non-conforme">
                        <label class="form-check-label" for="nonConforme">Non Conforme</label>
                    </div>
                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" id="sansConformite" name="conformite" value="sans-conformite">
                        <label class="form-check-label" for="sansConformite">Sans Conformité</label>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>

<!-- Main Map Section -->
<div class="container-fluid mt--7">
    <div class="row">
        <div class="col">
            <div class="card border-0">
                <div id="carteSite" class="map-canvas"></div>
            </div>
        </div>
    </div>
</div>
{% endblock content %}

{% block javascripts %}
<script src="https://unpkg.com/leaflet@1.7.1/dist/leaflet.js"></script>
<script src="https://unpkg.com/leaflet.markercluster/dist/leaflet.markercluster.js"></script>
{% comment %} <script src="/static/assets/js/leaflet.js"></script> {% endcomment %}
<script src="https://cdn.jsdelivr.net/npm/leaflet.fullscreen@1.6.0/Control.FullScreen.min.js"></script>
    {% comment %} <script src="/static/assets/js/FullScreen.min.js"></script> {% endcomment %}

<!-- Initialisation de la carte -->
<script>
    document.addEventListener('DOMContentLoaded', function() {
        const mapElement = document.getElementById('carteSite');
        if (!mapElement) {
            console.error("L'élément avec l'ID 'carteSite' n'existe pas.");
            return;
        }

        // Initialisation de la carte
        var map = L.map('carteSite').setView([9.3, 2.3], 7);

        L.control.fullscreen({
            position: 'topleft',
            title: "Plein écran",
            titleCancel: "Quitter le plein écran"
        }).addTo(map);

        // Ajouter une couche de tuiles OpenStreetMap
        L.tileLayer('https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png', {
            maxZoom: 19,
            attribution: '&copy; OpenStreetMap contributors'
        }).addTo(map);

        window.map = map; // Exposer la carte globalement
    });
</script>

<!-- Gestion des fichiers GeoJSON -->
<script>
    document.addEventListener('DOMContentLoaded', function() {
        const layers = {};

        function addGeoJsonLayer(url, styleOptions, layerName, addToMapByDefault = false) {
            return fetch(url)
                .then(response => response.json())
                .then(data => {
                    const layer = L.geoJSON(data, {
                        style: styleOptions,
                        onEachFeature: function(feature, layer) {
                            if (feature.properties) {
                                const name = feature.properties.NOM || 'Inconnu';
                                layer.bindPopup(`<strong>${name}</strong>`);
                            }
                        }
                    });

                    layers[layerName] = layer;

                    // Ajouter à la carte si spécifié
                    if (addToMapByDefault) {
                        layer.addTo(window.map);
                    }
                })
                .catch(error => console.error(`Erreur lors du chargement de ${layerName} :`, error));
        }

        Promise.all([
            addGeoJsonLayer('/static/geojson/BENIN_PAYS.json', { color: 'blue', weight: 3 }, 'Pays', true), // Active par défaut
            addGeoJsonLayer('/static/geojson/BENIN_DEPARTEMENT.json', { color: 'red', weight: 1 }, 'Départements'),
            addGeoJsonLayer('/static/geojson/BENIN_COMMUNE.json', { color: 'green', weight: 1 }, 'Communes'),
            addGeoJsonLayer('/static/geojson/BENIN_ARRONDISSEMENT.json', { color: 'yellow', weight: 1 }, 'Arrondissements')
        ]).then(() => {
            // Ajouter le contrôle des couches une fois tout chargé
            L.control.layers(null, layers, { position: 'topleft' }).addTo(window.map);
        });
    });
</script>

<!-- Gestion des filtres -->
<script>
    document.addEventListener('DOMContentLoaded', function() {
        const departementFilter = document.getElementById('departement');
        const communeFilter = document.getElementById('commune');
        const operateurFilter = document.getElementById('operateur');
        const conformiteFilters = document.querySelectorAll('input[name="conformite"]');
        const resetButton = document.getElementById('resetFilters');

        // Fonction pour appliquer les filtres
        function applyFilters() {
            // Récupérer les départements sélectionnés (sous forme de tableau)
            const departement = Array.from(departementFilter.selectedOptions).map(option => option.value);
            console.log('Departements:', departement);
            
            // Récupérer les communes sélectionnées (sous forme de tableau)
            const commune = Array.from(communeFilter.selectedOptions).map(option => option.value);
            console.log('Communes:', commune);

            // Récupérer les opérateurs sélectionnés (sous forme de tableau)
            const operateur = Array.from(operateurFilter.selectedOptions).map(option => option.value);
            console.log('Opérateurs:', operateur);

            // Récupérer les conformités sélectionnées
            let conformite = Array.from(conformiteFilters)
                .filter(radio => radio.checked)
                .map(radio => radio.value);
            console.log('Conformité:', conformite);

            // Construire l'URL avec les filtres
            const params = new URLSearchParams();

            // Ajouter les paramètres uniquement s'ils ne sont pas vides
            departement.forEach(dep => params.append('departement', dep)); // Ajouter plusieurs départements
            commune.forEach(com => params.append('commune', com)); // Ajouter plusieurs communes
            operateur.forEach(op => params.append('operateur', op)); // Ajouter plusieurs opérateurs
            conformite.forEach(conform => params.append('conformite', conform)); // Ajouter plusieurs conformités

            const url = `/map/?${params.toString()}`;

            console.log('URL:', url);

            // Envoi  de la requête AJAX
            fetch(url, {
                headers: {
                    'X-Requested-With': 'XMLHttpRequest'
                }
            })
            .then(response => response.json())
            .then(data => {
                if (data && data.sites) {
                    // Filtrage manuel des données si nécessaire
                    console.log(data);
                    updateMap(data.sites);
                } else {
                    alert("Erreur : Aucune donnée disponible.");
                }
            })
            .catch(error => {
                console.error('Erreur:', error);
                alert('Une erreur est survenue lors de la récupération des données.');
            });
        }

        // Fonction pour mettre à jour la carte avec les nouveaux sites
        function updateMap(sites) {
            const map = window.map; // Utiliser la carte globale

            // Retirer les anciens marqueurs de la carte
            map.eachLayer(layer => {
                if (layer instanceof L.Marker || layer instanceof L.CircleMarker) {
                    map.removeLayer(layer);
                }
            });

            const bounds = [];
            sites.forEach(site => {
                const latitude = parseFloat(site.latitude);
                const longitude = parseFloat(site.longitude);

                if (!isNaN(latitude) && !isNaN(longitude)) {
                    bounds.push([latitude, longitude]);

                    const icon = L.divIcon({
                        html: `<i class="fas fa-map-marker-alt" style="color: ${site.icon_color}; font-size: 24px;"></i>`,
                        className: 'custom-marker',
                        iconSize: [24, 24],
                        iconAnchor: [12, 24]
                    });

                    const marker = L.marker([latitude, longitude], { icon: icon });
                    marker.bindPopup(`
                        <div>
                            <img src="/static/${site.operateur_logo}" alt="${site.operateur_nom}" style="width: 20px; height: auto;">
                            <b>${site.nom}</b><br>
                            ${site.localite}<br>
                            <a href="/site/${site.id}" class="btn btn-sm">
                                <i class="fa fa-info-circle"></i>
                            </a>
                        </div> 
                    `);
                    marker.addTo(map);
                }
            });

            // Ajuster la vue de la carte en fonction des nouveaux sites
            if (bounds.length > 0) {
                map.fitBounds(bounds, { padding: [20, 20] });
            }
        } 

        // Ajouter les événements aux filtres
        departementFilter.addEventListener('change', applyFilters);
        communeFilter.addEventListener('change', applyFilters);
        operateurFilter.addEventListener('change', applyFilters);
        conformiteFilters.forEach(radio => radio.addEventListener('change', applyFilters));

        // Réinitialiser les filtres au clic du bouton
        resetButton.addEventListener('click', function() {
            document.getElementById('filterForm').reset();
            applyFilters();
        });

        // Appliquer les filtres au chargement de la page
        applyFilters();
    });
</script>  

<!-- Gestion de la sidebar -->
<script>
    document.addEventListener('DOMContentLoaded', function() {
        const filterToggle = document.getElementById('filterToggle');
        const closeSidebar = document.getElementById('closeSidebar');
        const sidebar = document.getElementById('filterSidebar');
        const mapElement = document.getElementById('carteSite');

        function toggleSidebar() {
            if (sidebar.style.right === '-300px') {
                sidebar.style.right = '-1px';
                mapElement.style.marginRight = '300px';
            } else {
                sidebar.style.right = '-300px';
                mapElement.style.marginRight = '0';
            }
            setTimeout(() => {
                map.invalidateSize();
            }, 300);
        }

        function closeSidebarHandler() {
            sidebar.style.right = '-300px';
            mapElement.style.marginRight = '0';
            setTimeout(() => {
                map.invalidateSize();
            }, 300);
        }

        filterToggle.addEventListener('click', toggleSidebar);
        closeSidebar.addEventListener('click', closeSidebarHandler);
    });
</script>

{% endblock javascripts %}
